<div class="impressum">
    <h1>Impressum</h1>
    
    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    
    <p><strong>Betreiber der Webseite und Verantwortlicher für den Inhalt:</strong><br>
    Sebastian Klingbeil<br>
    Postfach 559<br>
    33758 Schloß Holte<br>
    
    <p><strong>Kontakt:</strong><br><br>
    E-Mail: <a href="mailto:[Deine E-Mail-Adresse]">[Deine E-Mail-Adresse]</a><br>
    Webseite: <a href="[Deine Webseite URL]" target="_blank">[Deine Webseite URL]</a></p>
    
    <p><strong>Haftungsausschluss:</strong><br>
    Die Inhalte dieser Webseite wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte wird jedoch keine Haftung übernommen. Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br>
    Alle verwendeten Bilder auf der Homepage, stammen aus Lizenzfreien Quellen ohne weitere Urheberrechte.</p>
    
    <p><strong>Externe Links:</strong><br>
    Diese Webseite enthält Links zu externen Webseiten Dritter. Auf den Inhalt dieser Seiten haben wir keinen Einfluss. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten sind stets die jeweiligen Anbieter oder Betreiber der Seiten verantwortlich.</p>
    
    <p><strong>Datenschutzerklärung:</strong><br>
    Für die Nutzung dieser Webseite gelten unsere <a href="[Link zur Datenschutzerklärung]" target="_blank">Datenschutzerklärung</a>. Bitte lesen Sie diese sorgfältig, um zu erfahren, wie wir Ihre persönlichen Daten verarbeiten.</p>
    
    <p><strong>Verbraucherstreitbeilegung / Universalschlichtungsstelle:</strong><br>
    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die du hier findest: <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>. Wir sind weder verpflichtet noch bereit, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>
