<div class="absolute-inset">
    <img class="background-img" src="/assets/image/Bozen.jpg" alt="">
</div>
<div class="wellcome-container font-family">
    <div>
        <span class="sub-headline">Willkommen bei den Knieschleifern</span>
    </div>
    <h1 class="headline">Leidenschaft auf zwei Rädern</h1>
    <div>
        <span class="sub-headline">Erlebe die Freiheit und den Nervenkitzel des Motorradfahrens mit unserer Community.</span>
    </div>
    <div class="button-container">
        <span>
            <button [routerLink]="'/tour'" routerLinkActive="router-link-active"  class="button-contrast">Touren entdecken</button>
        </span>
        <span>
            <button [routerLink]="'/event'" class="button-group button-none-contrast">Events anschauen</button>
        </span>
    </div>
</div>

<section class="passion-container">
    <div>
        <span class="headline bold">Unsere Leidenschaft</span>
    </div>
    <div class="object-container">
        <div class="1">
            <div class="img-passion-container">
                <img src="/assets/image/IMG-20240711-WA0005.jpg" alt="">
            </div>
            <div class="headline1">
                <span class="bold">Gemeinsame Touren</span>
            </div>
            <div class="subtext">
                <span>Wir Organisieren regelmäßig spannende Ausfahren für unsere Mitglieder.</span>
            </div>
            <div>
                <button class="button-group button-none-contrast border-group-button" style="filter: invert(1);" [routerLink]="'/tour'">Touren ansehen</button>
            </div>
        </div>
        <div class="2">
            <div class="img-passion-container">
                <img src="/assets/image/IMG-20250313-WA0012.jpg" alt="">
            </div>
            <div class="headline1">
                <span class="bold">Motorrad-Events</span>
            </div>
            <div class="subtext">
                Von Treffen bis zu Rennstrecken-Tagen - bei uns ist für jeden etwas dabei.
            </div>
            <div>
                <button class="button-group button-none-contrast border-group-button" style="filter: invert(1);" [routerLink]="'/event'">Events entdecken</button>
            </div>
        </div>
        <div class="3">
            <div class="img-passion-container">
                <img src="/assets/image/the-ride-academy-bejtrIu6kgM-unsplash.jpg" alt="">
            </div>
            <div class="headline1">
                <span class="bold">Erfahrungsaustausch</span>
            </div>
            <div class="subtext">
                <span>Profitiere vom Wissen unserer erfahrenen Biker und teile deine eigenen Erlebnisse.</span>
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="custom-space">
        <div>
            <span class="headline bold">Über uns</span>
        </div>
        <div class="subtext">
            <p>Knieschleifer ist mehr als nur eine Motorradgruppe - wir sind eine Gemeinschaft von Enthusiasten, die ihre Leidenschaft für das Motorradfahren teilen. Egal ob Anfänger oder erfahrener Biker, bei uns findet jeder seinen Platz. Wir bieten nicht nur aufregende Touren und Events, sondern auch eine Plattform für den Austausch von Erfahrungen und Tipps rund ums Motorradfahren.</p>
        </div>
        <div>
            <button class="button-contrast" [routerLink]="'/event'">Unsere Events</button>
        </div>
    </div>
    <div>
        <img src="/assets/image/WA20250312.jpg" alt="Über uns">
    </div>
</section>

<section class="why-container">
    <div class="first">
        <div>
            <span class="headline bold">Warum Knieschleifer?</span>
        </div>
        <div class="why-container-items">
            <div>
                <span class="headline1 bold">Gemeinschaft</span>
                <p>Werde Teil einer leidenschaftlichen Motorrad-Community.</p>
            </div>
            <div>
                <span class="headline1 bold">Abenteuer</span>
                <p>Erlebe unvergessliche Touren und Events.</p>
            </div>
            <div>
                <span class="headline1 bold">Sicherheit</span>
                <p>Profitiere von unseren Fahrsicherheitstrainings.</p>
            </div>
            <div>
                <span class="headline1 bold">Erfahrung</span>
                <p>Lerne von erfahrenen Bikern und verbessere deine Fahrkünste.</p>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="social-icons">
            <div class="small-headline bold">Folge uns</div>
            <div class="icons">
                <a href="https://www.facebook.com/groups/369144769919000" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-facebook">
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"/>
                    </svg>
                </a>
                <a href="https://www.instagram.com/knieschleifer.aus.ueberzeugung?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-instagram">
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"/>
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                        <path d="M16.5 7.5l0 .01"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="sonst">
            <a class="impressum" [routerLink]="'/impressum'">Impressum</a>
            <a class="privacy-policy" [routerLink]="'/privacy-policy'">Datenschutz</a>
            <a class="cookies">Cookie Einstellungen</a>
        </div>
    </div>
</section>

